.dropdown-vue-conteks {
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat #fff;
	background-position: right 10px top; /* Change the px value here to change the distance */
    background-color: white !important;
    color: var(--sidebarActiveBg);
    padding: 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 38px;
}

.dropdown-vue-conteks.disabled{
    cursor: no-drop;
    background: #e9ecef !important;
}

.dropdown-vue-wrapper {
    position: relative;
    display: block;
}

.dropdown-vue-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    overflow: auto;
    border: 1px solid #e5e5e5;
    border-bottom: 2px solid #ddd;
    z-index: 9;
}

.dropdown-vue-content.up{
    bottom: 38px;
}


.dropdown-vue-content a {
    color: var(--sidebarActiveBg);
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    font-size: 9pt;
}

.dropdown-vue-content a.disabled{
    cursor: context-menu;
}

.dropdown-vue-content a.active{
    background: #e5e5e5;
    cursor: context-menu;
}

.dropdown-vue-content-item{
    min-height: 10px;
    max-height: 190px;
    overflow-y: scroll;
}

.dropdown-vue-wrapper a:not(.disabled):hover {
    background-color: var(--primary);
}

.dropdown-vue-search-wrap{
    padding: 5px;
}

.show {display: block;}

.select-vue-button-tambah{
    border-top: 1px solid #eee; 
    text-align: center;  
    margin-top: 5px; 
    cursor: pointer;
    background: #fafafa; 
}